:root {
    --ds-space-xxs: 0.25rem;
    --ds-space-xs: 0.5rem;
    --ds-space-sm: 0.75rem;
    --ds-space-md: 1rem;
    --ds-space-lg: 1.5rem;
    --ds-space-xl: 2rem;
    --ds-space-xxl: 3rem;
    --ds-space-section: 6rem;
    --ds-space-cta-band: 4rem;

    --ds-container-wide-width: var(--ds-breakpoint-wide-min);
    --ds-container-max-width: var(--ds-container-app-width);
    --ds-container-gutter: clamp(var(--ds-space-md), 5vw, var(--ds-space-xxl));
    --ds-grid-columns: 12;

    --ds-breakpoint-mobile-max: 47.9375rem;
    --ds-breakpoint-tablet-min: 48rem;
    --ds-breakpoint-tablet-max: 63.9375rem;
    --ds-breakpoint-desktop-min: 64rem;
    --ds-breakpoint-desktop-max: 89.9375rem;
    --ds-breakpoint-wide-min: 90rem;
    --ds-container-content-width: 75rem;
    --ds-container-app-width: 108rem;
}
