@use '../abstracts/mixins' as mix;

.content-wrapper-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--color-surface-secondary);
    transition: var(--theme-transition);
}

.central-box-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0 1.25rem;
    padding: 1.25rem;
    border: 2px solid var(--color-border-primary);
    background-color: var(--color-surface-primary);
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    transition: var(--theme-transition);
}

.box-center-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom-row-container,
.top-row-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 1.25rem;
    min-height: 1.25rem;
    height: auto;
    flex-grow: 0.01;
}

.bottom-row-container {
    justify-content: space-between;
}

.top-row-container {
    justify-content: flex-end;
    max-height: 1.25rem;
}

.center-container {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
}

.content-hidden {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0s 0.5s,
        opacity 0.5s linear;
}

.content-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

#particle-container {
    @include mix.debug-outline(var(--color-border-primary), 1px);

    position: relative;
    width: 18.75rem;
    height: 18.75rem;
    margin: 1.25rem auto;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--color-surface-primary);
}

.particle {
    position: absolute;
    width: 0.1875rem;
    height: 0.1875rem;
    border-radius: 50%;
    background-color: var(--color-text-secondary);
    opacity: 0.75;
}
