@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

.copyright {
    font-size: 0.75em;
    color: var.$color-ivory;
    margin-bottom: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        display: inline-block;
        width: 2em;
        border-top: 1px solid var.$color-ivory;
        margin-right: 10px;
        vertical-align: middle;
    }
}

.based_in {
    font-size: 0.75em;
    color: var.$color-ivory;
    margin-bottom: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;

    &::after {
        content: "";
        display: inline-block;
        width: 2em;
        border-top: 1px solid var.$color-ivory;
        margin-left: 10px;
        vertical-align: middle;
    }
}

.testing {
    font-size: 0.75em;
    color: var.$color-ivory;
    white-space: nowrap;
    margin: 0;
}
