.footer-corner-content {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 0.75rem;
    color: var(--color-text-secondary);
    transition: var(--theme-transition);
    font-family: var(--font-family-ui);
    font-size: var(--font-size-label-sm);
    font-weight: var(--font-weight-regular);
}

.footer-corner-content--left::before,
.footer-corner-content--right::after {
    content: '';
    display: inline-block;
    width: 2rem;
    border-top: 1px solid currentColor;
}

.footer-corner-content--left::before {
    margin-right: 0.625rem;
}

.footer-corner-content--right::after {
    margin-left: 0.625rem;
}
