@use "../absracts/mixins" as mix;
@use "../absracts/fonts" as font;
@use "../absracts/variables" as var;

.brand {
    @include debug-border(green);

    font-size: 2.5em;
    font-family: var(--primary-font);
    font-weight: var(--primary-font-bold-weight);
    font-style: var(--primary-font-style-regular);
    padding: 5px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: var(--theme-transition);
    line-height: 1;
}

.brand-name,
.brand-underscore {
    color: var(--text-color);
    transition: var(--theme-transition);
}

.brand-underscore {
    position: relative;
    bottom: 0.2em;
}

.brand-dot {
    font-size: 1.5em;
    color: var.$color-superioority;
    transition: var(--theme-transition);
}

.brand-hover {
    cursor: pointer;
}

.theme-colors {
    @include debug-border(green);

    display: flex;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    max-height: 30px;
    column-gap: 10px;
    color: var(--text-color);
    transition: var(--theme-transition);
}

.theme-btn {
    @include debug-border(black);

    display: flex;
    align-items: center;
    column-gap: 5px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2px 5px;
    max-height: 20px;
}

.bi-square,
.bi-square-fill {
    font-size: 0.75em;
    transition: var(--theme-transition);
}

.theme_btn i {
    @include debug-border(black);

    max-height: 100%;
    font-size: 0.75rem;
    color: var(--text-color);
    transition: var(--theme-transition);
}
