.brand {
    padding: 0.3125rem 0;
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: var(--primary-font-bold-weight);
    font-style: var(--primary-font-style-regular);
    line-height: 1;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    transition: var(--theme-transition);
}

.brand-hover {
    cursor: pointer;
}

.brand-name,
.brand-underscore {
    color: var(--color-text-primary);
    transition: var(--theme-transition);
}

.brand-underscore {
    position: relative;
    bottom: 0.2em;
}

.brand-dot {
    font-size: 1.5em;
    color: var(--color-accent-primary);
    transition: var(--theme-transition);
}

.theme-colors,
.theme-btn {
    display: flex;
    align-items: center;
    transition: var(--theme-transition);
}

.theme-colors {
    max-height: 1.875rem;
    column-gap: 0.625rem;
    color: var(--color-text-primary);
    text-transform: uppercase;
    cursor: pointer;
}

.theme-btn {
    max-height: 1.25rem;
    column-gap: 0.3125rem;
    padding: 0.125rem 0.3125rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    color: inherit;
}

.bi-square,
.bi-square-fill,
.theme-btn i {
    font-size: 0.75rem;
    transition: var(--theme-transition);
}

.theme-btn i {
    max-height: 100%;
    color: currentColor;
}
