.custom-tag,
.custom-statement {
    color: var(--color-text-secondary);
    transition: var(--theme-transition);
}

.custom-tag {
    margin-bottom: 0;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
    animation: fade-in 2s;
}

.custom-statement {
    align-self: flex-end;
    font-style: italic;
    text-align: left;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
