@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");

$primary-font: "Roboto", sans-serif;

// Font family function creation for opentype files
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        src: url("#{$file-path}.otf") format("opentype");
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

// Font family for Neue Montreal regular
@include font-face(
    "Neue Montreal",
    "/src/resources/fonts/neue_montreal/NeueMontreal-Regular.otf",
    $weight: normal,
    $style: normal
);

// Font family for Neue Montreal medium
@include font-face(
    "Neue Montreal",
    "/src/resources/fonts/neue_montreal/NeueMontreal-Medium.otf",
    $weight: 500,
    $style: normal
);

// Font family for Neue Montreal bold
@include font-face(
    "Neue Montreal",
    "/src/resources/fonts/neue_montreal/NeueMontreal-Bold.otf",
    $weight: bold,
    $style: normal
);

// Font family for Neue Montreal bold and italic
@include font-face(
    "Neue Montreal",
    "/src/resources/fonts/neue_montreal/NeueMontreal-BoldItalic.otf",
    $weight: bold,
    $style: italic
);
